<!-- <form action="{% url 'events:create_event' %}" method="post">
{% csrf_token %}
    <input type="text" name="Event" value="{{ event_name }}"/>
    <input type="text" name="Date" value="{{ date }}"/>
    <input type="text" name="Time" value="{{ time }}"/>
<input type="submit" value="create event" />
</form> -->

<form action="{% url 'events:create_event' %}" method="post">
{% csrf_token %}
    <label for="event">Event: </label>
    <input id="event" type="text" name="event_name" value="{{ name }}">
    <input type="submit" value="Submit">
</form>